<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="assets/style.css">
    <!-- <style>
            body{background: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #ffffff}
            p{text-align: center;text-transform: uppercase;letter-spacing: .1cm}
        </style> -->
</head>
<body>
    <% include partial/nav.ejs %>
    <p><h3>Thanks for coontacting</h3></p>
    <p>you contacted <%=data.who%> in the <%=data.department%> department. u will get a reply in <%=data.email%></p>
</body>
</html>